.container {
  margin: 30px auto;
  width: 440px;
  background-color: var(--primaryColor);
  text-align: center;
  padding: 8px;
  border-radius: 5px;
}

.container:hover {
  opacity: 0.7;
}

.container a {
  width: 100%;
  display: inline-block;
}

@media (max-width: 600px) {
  .container {
    width: 320px;
  }
}
